<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DescarTec</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngClass]="{'show': isMenuOpen}">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Informações</a>        
        <a class="nav-link" routerLink="/mapa" aria-disabled="false">Mapa</a>
      </div>
    </div>
    <div class="navbar-nav ml-auto">
      <a *ngIf="isLogged" class="nav-link" routerLink="/user/profile">Meu Perfil</a>
      <a *ngIf="isLogged" class="nav-link" (click)="logout()">Logout</a>
      <a *ngIf="!isLogged" class="nav-link" routerLink="/account/login">Login</a>
    </div>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</nav>
