<app-notificacao></app-notificacao>
<div class="row"><div class="col-12">
  <nav class="navbar navbar-expand-lg navbar-light custom-top-bar">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngClass]="{'show': isMenuOpen}">
        <div class="navbar-nav">
          <a class="navbar-brand" routerLink="/">DESCARTEC</a>
          <a class="nav-link" aria-current="page" routerLink="/">HOME</a>
          <a class="nav-link" *ngIf="isColetor" routerLink="/rota" aria-disabled="false">ROTA</a>        
          <a class="nav-link" routerLink="/info" aria-disabled="false">INFORMAÇÕES</a>        
          <a class="nav-link" routerLink="/mapa" aria-disabled="false">MAPA</a>
        </div>
      </div>
      <div class="navbar-nav ">
        <button *ngIf="isLogged" class="nav-link" (click)="logout()" class="custom-center" style="margin-left: 0px;">Logout</button>
        <button *ngIf="!isLogged" class="custom-button-card custom-center only-desktop" routerLink="/account/register">Cadastre-se</button>
        <button *ngIf="!isLogged" class="nav-link" routerLink="/account/login" class="custom-center" style="margin-left: 0px;">Login</button>
      </div>
      <div class="navbar-toggler" type="button" (click)="toggleMenu()" aria-expanded="false" aria-label="Toggle navigation" style="border-color: transparent; padding: 0;">
        <img [src]="relativePath + 'assets/svg/Menu.svg'" style="width: 40px; height: 40px;">
      </div>
    </div>
  </nav>
</div></div>
