@import '../../../../colors';

.custom-top-bar {
    background-color: $cor-escura;
    color: white !important;
  
    a {
      color: white;
  
      &:hover {
        color: $cor-destaque;
      }
      &::after{
        color: $cor-destaque;
      }
    }

    button {
        color: white;
        border-color: transparent;

        &:hover {
            color: $cor-destaque;
        }
        &::after{
            color: $cor-destaque;
        }
    }

    i {
        color: white;
    
        &:hover {
          color: $cor-destaque;
        }
        &::after{
            color: $cor-destaque;
        }
        
      }
  }  

.custom-color {
    color: white !important;
}

.custom-search {
    padding-inline: 30px;
}