/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[5].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[5].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].rules[1].use[1]!./src/styles.scss?ngGlobalStyle ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* You can add global styles to this file, and also import other style files */
body {
  background-color: #80CBC4;
  color: white;
  text-align: justify;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 3rem;
  color: white;
}

.custom-button {
  background-color: #37474F;
  border-color: #37474F;
  color: white;
}
.custom-button:hover {
  background-color: #263238;
  border-color: #263238;
  color: white;
}

.custom-link {
  color: white;
}
.custom-link:hover {
  color: #80CBC4;
}

.card-custom {
  background-color: #00796B;
  padding: 5% 5% 5% 5%;
  box-shadow: 20px 20px 0px -1px rgb(0, 0, 0);
  border: 4px solid #000000;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
}
