/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[5].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[5].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].rules[1].use[1]!./src/styles.scss?ngGlobalStyle ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/* You can add global styles to this file, and also import other style files */ /**
 * @license
 *
 * Font Family: Clash Display
 * Designed by: Indian Type Foundry
 * URL: https://www.fontshare.com/fonts/clash-display
 * © 2023 Indian Type Foundry
 *
 * Font Styles:
 * Clash Display Variable(Variable font)
 * Clash Display Extralight
 * Clash Display Light
 * Clash Display Regular
 * Clash Display Medium
 * Clash Display Semibold
 * Clash Display Bold
 *
*/
/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 700.0;
*
* available axes:

* 'wght' (range from 200.0 to 700.0)

*/
@font-face {
  font-family: "ClashDisplay-Extralight";
  src: url('ClashDisplay-Extralight.0c602d054ead1539.woff2') format("woff2"), url('ClashDisplay-Extralight.95961220e3c60882.woff') format("woff"), url('ClashDisplay-Extralight.7760b2304e823912.ttf') format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Light";
  src: url('ClashDisplay-Light.5ad08f51bd250d94.woff2') format("woff2"), url('ClashDisplay-Light.49219271112a8788.woff') format("woff"), url('ClashDisplay-Light.b8f6da6f24c7e98e.ttf') format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Regular";
  src: url('ClashDisplay-Regular.285d44360adb7279.woff2') format("woff2"), url('ClashDisplay-Regular.0a8af53faac264c2.woff') format("woff"), url('ClashDisplay-Regular.bb1ff20c07260ed5.ttf') format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Medium";
  src: url('ClashDisplay-Medium.086a70ddba625929.woff2') format("woff2"), url('ClashDisplay-Medium.b4029a771f1a281e.woff') format("woff"), url('ClashDisplay-Medium.578e340fa46cd0c7.ttf') format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url('ClashDisplay-Semibold.02d655c1dbb838f4.woff2') format("woff2"), url('ClashDisplay-Semibold.cffe86e99bf1e93e.woff') format("woff"), url('ClashDisplay-Semibold.6a5bb13d83b8cbe4.ttf') format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Bold";
  src: url('ClashDisplay-Bold.271f77516f49b23e.woff2') format("woff2"), url('ClashDisplay-Bold.eb853a67e431d047.woff') format("woff"), url('ClashDisplay-Bold.73023086293a99d8.ttf') format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
body {
  background-color: #e6fde1;
  color: black;
  font-family: "ClashDisplay-Regular";
}

.custom-center {
  display: flex;
  justify-content: center;
}

.custom-body {
  background-color: #e6fde1;
  padding: 0;
  height: 100%;
  padding-bottom: 2%;
}

h1 {
  font-family: "ClashDisplay-Bold";
  color: black;
  font-size: 4rem;
}

h2 {
  font-family: "ClashDisplay-Semibold";
  font-size: 3rem;
}

p {
  font-family: "ClashDisplay-Regular";
  font-size: 1.5rem;
}

button {
  font-size: 1.5rem;
}

.custom-button {
  background-color: rgba(95, 129, 105, 0.6862745098);
  border-color: rgba(95, 129, 105, 0.6862745098);
  color: black;
  border-radius: 1px;
}
.custom-button:hover {
  background-color: #343c34;
  border-color: #343c34;
  color: black;
}

.custom-button-card {
  width: 100%;
  height: 100%;
  background: #fcae56;
  border: 2px black solid;
  box-shadow: 3px 3px 0px black;
  border-radius: 1px;
  font-family: ClashDisplay-Bold;
  color: white;
}
.custom-button-card:hover {
  background-color: #f39a14;
}

.custom-link {
  color: #FFF;
}
.custom-link:hover {
  color: #fcae56;
}

.custom-page {
  background-color: #e6fde1;
  color: black;
  padding: 2%;
}
.custom-page > h1 {
  color: black;
}

.custom-topic {
  border-bottom: 3px solid black;
  background-color: #e6fde1;
  padding: 2%;
}

.custom-topic-alt {
  border-bottom: 3px solid black;
  background-color: #a4ff92;
  padding: 2%;
}

.custom-card {
  width: 100%;
  height: 100%;
  background: #a4ff92;
  box-shadow: 10px 10px 0px black;
  border-radius: 4px;
  border: 4px black solid;
  padding: 5%;
}
.custom-card label {
  font-family: ClashDisplay-Medium;
}
.custom-card button {
  background: #AAF39E;
  border: 2px black solid;
  box-shadow: 3px 3px 0px black;
  font-family: "ClashDisplay-Bold";
  color: white;
  border-radius: 1px;
}
.custom-card button:hover {
  background-color: #FFF;
  color: white;
}

@media only screen and (max-width: 767px) {
  .only-desktop {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .only-mobile {
    display: none;
  }
}
