// Cores principais
$cor-primaria: #00B375;
$cor-secundaria: #49806C;
$cor-terciaria: #27E637;

// Cores de texto
$cor-texto-principal: #333;
$cor-texto-secundario: #999;

// Cores de fundo
$cor-fundo-principal: #b8f1d2;
$cor-fundo-secundario: #fff;

// Cores de borda
$cor-borda-principal: #ccc;
$cor-borda-secundaria: #ddd;
