<div class="custom-topic">
    <div class="row">
        <div class="col-md-8">
            <h1>DescarTec</h1>
            <h2>Uma solução inteligente para obter informações e controle da coleta do seu lixo!</h2>
            <p>Cadastre-se para ter acesso a todo o conteudo de nossa página.</p>
            <div class="row" style="margin-block:3%;">
                <div class="col-lg-3">
                    <button class="custom-button-card custom-center" routerLink="/account/register">Registre-se</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="custom-card custom-center only-desktop" >
                <img src="/assets/images/home/home.png" alt="home-page">
            </div>
        </div>
    </div>
</div>

