@import '../../../../colors';

.spaced-text{
  letter-spacing: 3px;
  font-size: 48px;
  font-family: 'ClashDisplay-light';
}

.custom-link{
    color: black;
}

.truck-container img {
  position: relative;
  bottom: 0;
  animation: moveTruck 5s linear infinite;
}

@keyframes moveTruck {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px); /* Move para a direita */
  }
  100% {
    transform: translateX(0); /* Volta para a posição inicial (esquerda) */
  }
}