<div class="custom-topic">
    <div class="row">
        <div class="col-md-8">
            <h1><p class="spaced-text">SEJAM BEM-VINDOS</p></h1>
            <br>
            <h2>Temos uma solução inteligente para obter informações e controle da coleta do seu material inservível!</h2>
            <br>
            <h5><a [routerLink]="['/account/register']" class="custom-link">Cadastre-se</a> para ter acesso a todo o conteúdo de nossa página.</h5>
        </div>
        <div class="col-md-4">
            <div class="truck-container">
                <img [src]="relativePath + 'assets/images/home/caminhao-de-lixo.png'" style="width: 80%; height: 80%;" alt="home-page">
            </div>
        </div>
    </div>
</div>
<div class="custom-topic-alt">
    <div class="row">
        <div class="col-md-23">
            <h2>É um coletor?</h2>
            <p>Faça parte da nossa equipe. Preencha seu cadastro e avise a todos em sua região quando sairá para coleta.</p>
        </div>
    </div>
</div>

