$cor-primaria: #fcae56;
$cor-primaria-escura: #f39a14;
$cor-secundaria: #5f8169af;
$cor-fundo: #d1fac9;
$cor-fundo-claro: #72fd56f6;
$cor-sucesso: #AAF39E;
$cor-terciaria: #D8FF4A;
$cor-escura: #343c34;
$cor-destaque: #FFF;
$cor-pastel: #f9d16a;
$cor-titulo-fundo : #c8f8be;