/* You can add global styles to this file, and also import other style files */
@import 'colors';
@import 'fonts';

body {
  background-color: $cor-fundo;
  color: black;
  //text-align: justify;
  font-family: 'ClashDisplay-Regular';
}

.custom-center {
  display: flex;
  justify-content: center;
}

.custom-body {
  background-color: $cor-fundo;
  padding: 0;
  height: 100%;
  padding-bottom: 2%;
}

h1 {
  font-family: 'ClashDisplay-Bold';
  color: black;
  font-size: 4rem;
}


h2{
  font-family: 'ClashDisplay-Semibold';
  font-size: 3rem;
}
p {
  font-family: 'ClashDisplay-Regular';
  font-size: 1.5rem;
}
button {
  font-size: 1.5rem;
}

.custom-button {
  background-color: $cor-secundaria;
  border-color: $cor-secundaria;
  color: black;
  border-radius: 1px;

  &:hover {
    background-color: $cor-escura;
    border-color: $cor-escura;
    color: black;
  }

  // &:focus{
  //   box-shadow: 2px 2px 2px 2px $cor-primaria;
  // }
}


.custom-button-card {
  width: 100%;
  height: 100%;
  background: $cor-primaria;
  border: 2px black solid;
  box-shadow: 3px 3px 0px black;
  border-radius: 1px;
  font-family: ClashDisplay-Bold;
  color: white;
  &:hover {
    background-color: $cor-primaria-escura;
  }
}

.custom-link {
  color: $cor-destaque;

  &:hover {
    color: $cor-primaria;
  }
}

.custom-page {
  background-color: $cor-fundo;
  color: black;
  padding: 2%;

  > h1 {
      color: black;
  }
}

.custom-topic {
  border-bottom: 3px solid black;
  background-color: $cor-fundo;
  padding: 2%;
}
.custom-topic-alt {
  border-bottom: 3px solid black;
  background-color: $cor-fundo-claro;
  padding: 2%;
}
.custom-card {
  width: 100%;
  height: 100%;
  background: $cor-fundo-claro;
  box-shadow: 10px 10px 0px black;
  border-radius: 4px;
  border: 4px black solid;
  padding: 5%;
  label {
    font-family: ClashDisplay-Medium;
  }
  button {
    background: $cor-sucesso;
    border: 2px black solid;
    box-shadow: 3px 3px 0px black;
    font-family: 'ClashDisplay-Bold';
    color: white;
    border-radius: 1px;

    &:hover {
      background-color: $cor-destaque;
      color: white;
    }
  }
}

@media only screen and (max-width: 767px) {
  .only-desktop {
    display:none;
  }
}
@media only screen and (min-width: 768px) {
  .only-mobile {
    display:none;
  }
}