<div class="notificacao">
    <img (click)="toggleTooltip()" [src]="relativePath + 'assets/svg/Mail.svg'" style="width: 40px; height: 40px; cursor: pointer;">
    <div class="notification-count" *ngIf="notificationCount > 0">{{ notificationCount }}</div>
    <div class="tooltip" [ngClass]="{ 'show': showTooltip }">
        <span class="tooltiptext" [ngClass]="{ 'show': showTooltip }">
            <div class="row">
                <div class="col-12">
                    testeeeeeeeeeeeeeeeeee teste
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    testeeeeeeeeeeeeeeeeee teste
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    testeeeeeeeeeeeeeeeeee teste
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    testeeeeeeeeeeeeeeeeee teste
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    testeeeeeeeeeeeeeeeeee teste
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    testeeeeeeeeeeeeeeeeee teste
                </div>
            </div>
        </span>


    </div>
</div>