@import '../../../../colors';

.notificacao {
    position: fixed;
    top: 12px;
    right: 24px;
    z-index: 1000;
    cursor: pointer;
}

.tooltip {
    position: fixed;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    z-index: 1000;
    display: block;
    width: 240px;
    background-color: $cor-terciaria;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 1px;
    top: -35px;
    right: 5px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1000;
    border: 3px solid black;
}

.tooltip .tooltiptext::after {
    content: "  ";
    position: absolute;
    top: 10%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -10px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }

.tooltip.show {
    display: block;
}

/* notification.component.scss */
.notification-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    z-index: 1001; /* Garanta que a contagem esteja acima de outros elementos */
    border: 1px solid black;
  }