
<div class="custom-topic">
    <h1>Importante saber!</h1>
    <h2>Como preparar seu lixo</h2>
    <p>Preparar materiais inservíveis para coleta é uma prática importante para a reciclagem e a preservação do meio ambiente. O processo pode variar um pouco dependendo das políticas de coleta seletiva e reciclagem da sua região, mas geralmente envolve os seguintes passos:
        <br><br>
        <strong>Identificação dos materiais inservíveis:</strong><br>
        Primeiro, você precisa identificar quais materiais são considerados inservíveis. Exemplos comuns incluem vidro quebrado, plásticos quebrados, eletrônicos antigos, pilhas e baterias, lâmpadas queimadas, roupas desgastadas, entre outros.
        <br><br>
        <strong>Separação dos materiais:</strong><br>
        Separe os materiais inservíveis dos demais resíduos. Use sacos plásticos resistentes ou caixas de papelão para organizar os materiais de maneira limpa e segura.
        <br><br>
        <strong>Limpeza e desmontagem (se aplicável):</strong><br>
        Alguns materiais, como eletrônicos antigos, podem conter componentes tóxicos. Nesse caso, é importante desmontá-los com cuidado, separando peças que podem ser recicladas de forma segura, como metais, plásticos e cabos, dos componentes que precisam de descarte especial, como baterias.
        <br><br>
        <strong>Armazenamento seguro:</strong><br>
        Armazene os materiais inservíveis em um local seguro e longe do alcance de crianças e animais de estimação. Isso é especialmente importante para materiais perigosos, como produtos químicos domésticos.</p>
</div>
<div class="custom-topic-alt" >
    <h1>Sobre nós</h1>
    <div class="row">
        <div class="col-md-12">
            <h2>OBJETIVOS</h2>
            <p>Uma aplicação web para que todos tenham acesso as informações de coleta de materiais inservíveis em sua região.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>QUEM SOMOS?</h2>
            <p>Alunos de Ciências da Computação a UNIP da turma de 2023</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>FUNCIONALIDADES</h2>
            <p>Cadastro e login para informações personalizadas de usuário.</p>
            <p>Notificação para todos que estão na rota do Coletor</p>
            <p>Mapa com localização atual dos coletores com rotas ativas</p>
        </div>
    </div>
</div>
