<div class="custom-topic">
    <div class="row">
        <div class="col-md-12">
            <h2>OBJETIVOS</h2>
            <p>Uma aplicação web para que todos tenham acesso as informações de coletade lixo de sua região.</p>
        </div>
    </div>
</div>
<div class="custom-topic" style="background-color: white;">
    <div class="row">
        <div class="col-md-12">
            <h2>QUEM SOMOS?</h2>
            <p>Alunos de Ciências da Computação a UNIP da turma de 2023</p>
        </div>
    </div>
</div>
<div class="custom-topic">
    <div class="row">
        <div class="col-md-12">
            <h2>FUNCIONALIDADES</h2>
            <p>Cadastro e login para informações personalizadas de usuário</p>
            <p>Notificação</p>
            <p>Mapa com localização atual dos coletores</p>
        </div>
    </div>
</div>
