<!-- Footer -->
<footer class="text-center text-white custom-footer">
  <!-- Grid container -->
  <div class="container pt-2" style="color: black !important;">
    <form action="">
      <!--Grid row-->
      <div class="row d-flex justify-content-center" >
        <!--Grid column-->
        <div class="col-auto">
          <p class="pt-2">
            <strong>DescarTec</strong>
          </p>
        </div>
      </div>
    </form>

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Uma aplicação para promover o descarte consciente.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Social media -->
    <section class="mb-2">

      <!-- Github -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        target="_blank"
        href="https://github.com/DescarTec/descartec-tcc"
        role="button"
      >
        <em class="bi bi-github"></em>
      </a>
    </section>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 custom-copyright" >
    <h6> Copyright © 2023 Todos os direitos reservados.<br><br>
      Desenvolvido por <a href="https://github.com/DescarTec" class="custom-link">DescarTec</a>.
    </h6>
    
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
