@import '../../../../colors';

.custom-footer {
    border-radius: 3px 3px 0px 0px;
    text-align: center;    
}

.custom-footer{
    border-top: 3px solid black;
    background-color: $cor-fundo-footer-escuro;
    height: 800px;
}

.custom-copyright{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: $cor-fundo-footer-claro;
    text-align: center;
    padding: 10px;
    height: 120px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.custom-link{
    color: rgb(255, 0, 0);
}