@import '../../../../colors';

.custom-footer {
    border-radius: 3px 3px 0px 0px;
    margin-top: 12px;
    text-align: center;
    color: white;
}

.custom-copyright{
    background-color: $cor-escura;
}

.custom-footer{
    background-color: $cor-secundaria;
}