@import '../../../../colors';

.custom-footer {
    border-radius: 3px 3px 0px 0px;
    text-align: center;    
}

.custom-copyright{
    background-color: $cor-escura;
}

.custom-footer{
    background-color: $cor-secundaria;
}